<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<style type="text/css">
    /*******************************
    * ACCORDION WITH TOGGLE ICONS
    * Does not work properly if "in" is added after "collapse".
    *******************************/
        .panel-group .panel {
            border-radius: 0;
            box-shadow: none;
            border-color: #EEEEEE;
        }

        .panel-default > .panel-heading {
            padding: 0;
            border-radius: 0;
            color: #212121;
            background-color: #F7F7F7;
            border-color: #EEEEEE;
        }

        .panel-title {
            height: 8vh;
            margin-top: 1vh;
            margin-bottom: 1vh;
            border-color: #BBBBBB;
            border-width: 0;
            border-bottom-width: 1px;
            border-style: solid;

        }

        .panel-title > a {
            color: black;
            display: block;
            padding: 15px;
            text-decoration: none;
            font-size: 80%;
        }

        .list-group > a {
            color: black;
            display: block;
            text-decoration: none;
        }

        .more-less {
            float: right;
            color: #212121;
        }

        .panel-default > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #EEEEEE;
        }

        .panel-body {
            padding: 25px;
        }


        #tournament-details {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: white;
            z-index: 5;
            top: 0;

            padding: 20px;

            overflow-y: auto;
        }


        #view-games {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: white;
            z-index: 6;
            top: 0;

            padding: 20px;

            overflow-y: auto;
        }



        #add-participant-screen {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: white;
            z-index: 6;
            top: 0;

            padding: 20px;

            overflow-y: auto;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
        }
        th {
            text-align: left;
        }

</style>
<body>
    <header class="bg-dark">
        <% include ../partials/header %>
    </header>

    <main>

        <div class="panel-group" id="accordion" style="margin: 0;padding: 0;">

            <div class="panel panel-default">
              <div class="bg-dark panel-heading">
                <h4 class="panel-title" >
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse0" style="color:white;text-transform:capitalize;"><%=status%></a>
                </h4>
              </div>
              <div id="collapse0" class="panel-collapse collapse in">
                <ul class="list-group">
                    <a href="<%= domainName %>/tournaments?status=upcoming"><li class="list-group-item">Upcoming</li></a>
                    <a href="<%= domainName %>/tournaments?status=ongoing"><li class="list-group-item">Ongoing</li></a>
                    <a href="<%= domainName %>/tournaments?status=archived"><li class="list-group-item">Archived</li></a>
                </ul>
              </div>
            </div>

        </div> 


        <div id="tournament-details">
            <u><h3 id="tournament-name">NAME</h3></u>
            <div style="padding: 20px; overflow-x: auto;">
                <h4>Start Date: </h4> <span id="tournament-start-date">1-1-2018</span>
                <br><br>
                <h4>End Date: </h4> <span id="tournament-end-date">1-1-2018</span>
                <br><br>
                <h5><b>You are <span  id="tournament-join-status-not">not </span>registered.</b></h5>
                <br>
                <button id="view-tournament-games">View games</button> <button id="close-tournament-details">Close</button>
                <br><br>
                <h4><u>Participants</u> <button id="add-participant">+</button></h4><button onclick="exportTableToCSV('leaderboard.csv')">Download Leaderboard</button>
                <br><br>

                <table id="tournament-leaderboard" style="width:100%; text-align: center;">
                  <!-- <th>
                    <td>Rank</td>
                    <td>Player</td>
                    <td>P</td>
                    <td>W</td>
                    <td>D</td>
                    <td>L</td>
                    <td>Points</td>
                    <td>Spread</td>
                  </th> -->
                </table>
            </div>
        </div>

        <div id="add-participant-screen">
            <u><h3 id="tournament-addParticipant-name">NAME</h3></u>
            <div style="padding: 20px;">
                <h4 style="text-align: center;"><u>Add Participant</u></h4>
                <input type="text" class="form-control" placeholder="Username" required="required" id="add-participant-username">
                <br>
                <button id="add-participant-button">Add</button>
                <br><br>
                <button id="close-add-participant-screen">Close</button>
            </div>
        </div>


        <div id="view-games">
            <u><h3 id="tournament-viewGame-name">NAME</h3></u>
            <div style="padding: 20px;">
             <button id="close-view-games">Close</button>
                <h4 style="text-align: center;"><u>Games</u></h4>

                <table id="tournament-games-list" style="width:100%; text-align: center; text-transform: capitalize;">
                  <!-- <tr>
                    <td>sid vs dad</td>
                    <td>450 - 200</td>
                    <td>played </td>
                  </tr>
                  <tr>
                    <td>sid vs dad</td>
                    <td></td>
                    <td>not played</td>
                  </tr> -->
                </table>
            </div>
        </div>




    </main>

<footer>
    <% activeButton = "tournaments" %>
    <% include ../partials/bottom-bar %>
</footer>

<% include ../scripts/global-scripts %>

<script type="text/javascript">
    /*******************************
    * ACCORDION WITH TOGGLE ICONS
    *******************************/
        function toggleIcon(e) {
            $(e.target)
                .prev('.panel-heading')
                .find(".more-less")
                .toggleClass('glyphicon-plus glyphicon-minus');
        }
        $('.panel-group').on('hidden.bs.collapse', toggleIcon);
        $('.panel-group').on('shown.bs.collapse', toggleIcon);


        function getGames(data) {
            //console.log(data);
            data = data.data;
            for (i=0; i<data.length; i++) {
                if (data[i].scoreStatusCode === 'none') {
                    gameStatus = "Pending"
                    score = "";
                }
                else if (data[i].scoreStatusCode === 'accepted') {
                    gameStatus = "Played"
                    score = data[i].playerOneScore + " - " + data[i].playerTwoScore;
                }
                else {
                    gameStatus = "Settling Scores"
                    score = "";
                }
                
                $("#tournament-games-list").append("<tr><td>"+data[i].playerOne+" Vs. "+data[i].playerTwo+"</td><td>"+score+"</td><td>"+gameStatus+"</td></tr>")
            }
        }

        function getViewGames(data) {
            //console.log(data);
            $("#tournament-viewGame-name").html(data.name);
            $("#tournament-games-list").empty();

            getRequest('<%=domainName%>/api/games/getGames?leagueId='+data.id,getGames);           

            $("#view-games").show();
        }


        function getLeaderboard(data) {
            data = data.data;
            //console.log("PARTICIPANTS",data);
            for (i=0; i<data.length; i++) {
                if (data[i].username == currUser) {
                    $("#tournament-join-status-not").hide();
                }
                $("#tournament-leaderboard").append("<tr><td>"+(i+1)+"</td><td>"+data[i].username+"</td><td>"+data[i].played+"</td><td>"+data[i].wins+"</td><td>"+data[i].draws+"</td><td>"+data[i].losses+"</td><td>"+Math.round(data[i].points*10)/10+"</td><td>"+data[i].spread+"</td></tr>")
            }
        }

        function addParticipant(data) {
            $("#tournament-addParticipant-name").html(data.name);

            $("#add-participant-button").unbind('click');
            $("#add-participant-button").click(function() {
                var newuser = $("#add-participant-username").val();
                if (newuser) {
                    var params = {username: newuser};

                    postRequest('<%=domainName%>/api/league/'+data.id+'/addPlayer',params,function (data) {
                        toRefreshScreen = true;
                        $("#tournament-details").hide();
                        alert("Added!");
                        $("#add-participant-username").val("");
                    });
                } else {
                    alert("Please enter username!");
                }
            });

            $("#add-participant-screen").show();
        }

        function getTournamentDetails(data) {
            console.log(data);

            $("#tournament-name").html(data.name);
            $("#tournament-start-date").html(formatDate(new Date(data.startDate)));
            $("#tournament-end-date").html(formatDate(new Date(data.endDate)));
            $("#tournament-leaderboard").empty();
            $("#tournament-leaderboard").append("<tr><th>Rank</th><th>Player</th><th>P</th><th>W</th><th>D</th><th>L</th><th>Points</th><th>Spread</th></tr>");

            $("#tournament-join-status-not").show();
            $("#add-participant").hide();

            $("#view-tournament-games").unbind('click');
            $("#view-tournament-games").click(function() {
                getViewGames(data);
            });

            $("#add-participant").unbind('click');
            $("#add-participant").click(function() {
                addParticipant(data);
            });

            getRequest('<%=domainName%>/api/league/'+data.id+'/getLeaderboard',getLeaderboard);

            if (adminLevel == 2 || data.admin === currUser) {
                $("#add-participant").show();
            }            

            $("#tournament-details").show();
        }

        $("#close-tournament-details").click(function () {
            $("#tournament-details").hide();
        });

        $("#close-view-games").click(function () {
            $("#view-games").hide();
        });

        $("#close-add-participant-screen").click(function () {
            if (toRefreshScreen) location.reload();
            $("#add-participant-screen").hide();
        });

        function createRecord(data, i) {

            var startingDate = formatDate(new Date(data.startDate));

            var record = $.parseHTML('<div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse'+i+'">'+data.name+'</a></h4></div><div id="collapse'+i+'" class="panel-collapse collapse in"><div class="panel-body"><b>Start Date: </b>'+startingDate+'<br><b>No. of participants: </b>'+data.noOfPlayers+'<br><b>Rounds: </b>'+data.gamesPerPair+'<br><button id="league_'+data.id+'">Details</button></div></div></div>');

            $("#accordion").append(record);
            $("#league_"+data.id).click(function () {
                console.log(data.id);
                getTournamentDetails(data);
            });
            //console.log(record)
        }

        function populateList(data) {
            data = data.data;
            //console.log("MOO",data)
            for (i=0; i<data.length; i++) {
                createRecord(data[i],i+1);
            }
        }

        /*function fetchError (err) {
            alert(err.message);
        }*/

        $(function() {

            toRefreshScreen = false;

            $("#tournament-details").hide();
                $("#add-participant").hide();
                $("#add-participant-screen").hide();
            $("#view-games").hide();
            getRequest('<%=domainName%>/api/leagues/getLeagues?status=<%=status%>',populateList);

            currUser = getCookie('username');
            adminLevel = getCookie('adminLevel');
        });







        /// DOWNLOAD CSV
        function downloadCSV(csv, filename) {
            var csvFile;
            var downloadLink;

            // CSV file
            csvFile = new Blob([csv], {type: "text/csv"});

            // Download link
            downloadLink = document.createElement("a");

            // File name
            downloadLink.download = filename;

            // Create a link to the file
            downloadLink.href = window.URL.createObjectURL(csvFile);

            // Hide download link
            downloadLink.style.display = "none";

            // Add the link to DOM
            document.body.appendChild(downloadLink);

            // Click download link
            downloadLink.click();

            downloadLink.parentNode.removeChild(downloadLink);
        }

        function exportTableToCSV(filename) {
            var csv = [];
            var rows = document.querySelectorAll("#tournament-leaderboard tr");
            
            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll("#tournament-leaderboard td, #tournament-leaderboard th");
                
                for (var j = 0; j < cols.length; j++) 
                    row.push(cols[j].innerText);
                
                csv.push(row.join(","));        
            }

            // Download CSV file
            downloadCSV(csv.join("\n"), filename);
        }
</script>


</body>
</html>